<ion-view view-title="Birthdays">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Birthdays Today!</div>
      <div class="item item-body">
        <div>
          It is Mom's birthday today! Press here to call.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming Birthdays</div>
      <div class="item item-body">
        <ul>
          <li>Dad (November 14th, 1.5 months)</li>
          <li>Larson (November 27th, 2 months)</li>
          <li>Annie (November 28th, 2 months)</li>  
        </ul>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">To Purchase This Month</div>
      <div class="item item-body">
        <ul>
          <li>2 Cards</li>
          <li>4 Gifts</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
