<ion-view view-title="Upcoming">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="birthday in birthdays" type="item-text-wrap" href="#/tab/birthdays/{{birthday.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{birthday.person.name}}</h2>
        <p>{{birthday.date}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(birthday)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
